@font-face {
  font-family: schoolBell;
  src: url('../src/assets/fonts/Schoolbell-Regular.ttf');
}

@import 'tailwindcss';

@theme {
  --font-schoolBell: schoolBell, 'cursive';
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #242424;
  background-color: #f4f3f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
